.uploadIcon {
    position: absolute;
    top: -19px;
    left: 38px;
    transform: translateX(-50%);
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.icon {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    fill: none;
}

@media (min-width: 768px) {
    .uploadIcon {
        width: 38px;
        height: 38px;
    }

    .icon {
        width: 18px;
        height: 18px;
    }
}
