.tabs-list {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  border-bottom: 1px solid var(--color-light);
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 32px;
}

.tabs-list::-webkit-scrollbar {
  display: none;
}
