.recipeFilters {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.filterSelect {
    width: 100%;
}

/* Планшети (768px - 1439px) */
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .recipeFilters {
        flex-direction: row;
        gap: 14px;
        width: 704px;
    }
    
    .filterSelect {
        flex: 1;
    }
}

/* Десктоп (1440px+) */
@media screen and (min-width: 1440px) {
    .recipeFilters {
        flex-direction: column;
        gap: 14px;
        width: 330px;
        flex-shrink: 0;
    }
    
    .filterSelect {
        width: 100%;
    }
} 