.recipeFilters {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: var(--spacing-xl);
}

.filterSelect {
    width: 100%;
}

/* Планшети */
@media screen and (min-width: 768px) {
    .recipeFilters {
        flex-direction: row;
        gap: var(--spacing-lg);
        justify-content: center;
    }
    
    .filterSelect {
        width: 250px;
    }
}

/* Десктоп */
@media screen and (min-width: 1440px) {
    .recipeFilters {
        gap: var(--spacing-xl);
    }
    
    .filterSelect {
        width: 300px;
    }
} 