.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 126px;
  padding-bottom: 64px;
  max-width: 1100px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.24px;
  color: #bfbebe;
  margin-bottom: 16px;
}

.breadcrumbHome {
  color: #bfbebe;
}

.breadcrumbDivider {
  color: #bfbebe;
}

.breadcrumbCurrent {
  color: #050505;
}

@media screen and (min-width: 768px) {
  .container {
    gap: 100px;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    gap: 120px;
    padding-top: 170px;
    padding-bottom: 120px;
  }
}
