/* Backdrop - затемнений фон */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0;
    box-sizing: border-box;
}

/* === MOBILE FIRST === */
.modal {
    position: relative;
    background-color: var(--color-white);
    border-radius: 20px;
    width: 343px;
    /* height: 408px; */
    padding: 60px 30px;
    box-shadow: var(--shadow-medium);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    max-width: 95vw;
    max-height: 95vh;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2000;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* === TABLET & DESKTOP === */
@media screen and (min-width: 768px) {
    .modal {
        width: 560px;

        border-radius: 30px;
        padding: 80px;
    }
    .closeButton {
        top: 20px;
        right: 20px;
    }
}
