.AddRecipeForm {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.ingridientList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ingridient {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.ingridientName {
    font-weight: 500;
    color: #050505;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 1.42857;
    width: 56px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ingridientQn {
    color: #BFBEBE;
}

.imageWrapper {
    min-width: 75px;
    height: 75px;
    border-radius: 15px;
    border: 1px #BFBEBE solid;
}

.buttons {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

@media (min-width: 768px) {
    .AddRecipeForm {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 19px;
    }

    .ingredients {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ingridient {
        width: 315px;
    }
}