

.label {
    display: block;
    color: #050505;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.controls {
    display: inline-flex;
    gap: 12px;
    align-items: center;
    margin-top: 8px;
}

.value {
    color: #BFBEBE;
}

.btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #BFBEBE;
    background: none;
}

@media (min-width: 768px)  {
    .wrapper {
        width: 194px;
    }

    .label {
        font-size: 20px;
    }

    .btn {
        width: 56px;
        height: 56px;
    }
}

